<p id="notice"><%= notice %></p>

<p>
  <strong>Family name:</strong>
  <%= @profile.family_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Family name kana:</strong>
  <%= @profile.family_name_kana %>
</p>

<p>
  <strong>First name kana:</strong>
  <%= @profile.first_name_kana %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @profile.birthday %>
</p>

<p>
  <strong>Image:</strong>
  <%= @profile.image %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @profile.introduction %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
