<div class="reg-wrapper">
  <div class="reg-wrapper__content">
    <div class="reg-wrapper__content__nav">
      <h2 class="reg-wrapper__content__nav-text">ユーザー情報登録</h2>
    </div> 
    <div class="reg-wrapper__content__form">
      <%= form_for(@user, url: user_registration_path) do |f| %>
        <%= render "devise/shared/error_messages", resource: @user %>

        <div class="field">
          <%= f.label :ニックネーム, class:"form-texts" %><span class="required-box">必須</span><br />
          <%= f.text_field :nickname , placeholder:"例）フリマ太郎" %>
        </div>

        <div class="field">
          <%= f.label :メールアドレス, class:"form-texts"  %><span class="required-box">必須</span><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"PC・携帯どちらでも可" %>
        </div>

        <div class="field">
          <%= f.label :パスワード, class:"form-texts"  %>
          <% if @minimum_password_length %>
          <% end %><span class="required-box">必須</span><br />
          <%= f.password_field :password, autocomplete: "new-password", placeholder:"７文字以上で入力してください" %>
        </div>

        <div class="field">
          <%= f.label :確認用パスワード, class:"form-texts"  %><span class="required-box">必須</span><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"もう一度入力してください" %>
        </div>

        <div class="reg-info-box">
          <div class="info-title">
            <h4 class="info-title-text">本人確認</h4>
          </div>
          <div class="form-texts">
          <p class="form-texts-details">安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。</p>
          </div>
        </div>

      <div class="form-set">
        <div class="name-field">
          <%= f.label :お名前（全角）, class:"form-texts"%><span class="required-box">必須</span><br />
          <%= f.text_field :family_name ,placeholder:"例）桜木" %>
        </div>
        <div class="name-second-field">
          <br />
          <%= f.text_field :first_name, placeholder:"例）花道" %>
        </div>
      </div>

      <div class="form-set">
        <div class="name-field">
          <%= f.label :お名前かな（全角）, class:"form-texts"%><span class="required-box">必須</span><br />
          <%= f.text_field :family_name_kana, placeholder:"例）さくらぎ" %>
        </div>

        <div class="name-second-field">
          <br />
          <%= f.text_field :first_name_kana, placeholder:"例）はなみち" %>
        </div>
      </div>
        
      <div class="form-birth-set">
        <div class="field">
          <%= f.label :生年月日, class:"form-texts"  %><span class="required-box">必須</span><br />
          <%= f.text_field :birthday, placeholder:"例）20200101" %>
        </div>
      </div>

      <div class="reg-info-box-bottom">
      <div class="form-texts">
      <p>※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。</p>
      </div>
      </div>

      <div class="actions">
        <%= f.submit "次へ進む", class:"reg-submit-btn" %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>