.reg-wrapper
  .reg-wrapper__content
    .reg-wrapper__content__nav
      %h2.reg-wrapper__content__nav-text 商品先送付先入力
    .reg-wrapper__content__form
      = form_for @address do |f|
        = render "devise/shared/error_messages", resource: @address
        .form-set
          .form-set__name-field
            = f.label :お名前（全角）, class:"form-texts"
            %span.required-box 必須
            %br/
            = f.text_field :send_family_name ,placeholder:"例）桜木"
          .form-set__name-second-field
            %br/
            = f.text_field :send_first_name, placeholder:"例）花道"
        .form-set
          .form-set__name-field
            = f.label :お名前かな（全角）, class:"form-texts"
            %span.required-box 必須
            %br/
            = f.text_field :send_family_kana ,placeholder:"例）さくらぎ"
          .form-set__name-second-field
            %br/
            = f.text_field :send_first_kana, placeholder:"例）はなみち"
        .field
          = f.label :郵便番号, class:"form-texts"
          %span.required-box 必須
          %br/
          = f.text_field :post_number, placeholder:"例）1234567"
        .field
          = f.label :都道府県, class:"form-texts"
          %span.required-box 必須
          %br/
          = f.collection_select :prefectures_id, Prefectures.all, :id, :name, {prompt: "選択してください"}, class: "send_address_prefectures_id"

        .field
          = f.label :市区町村, class:"form-texts"
          %span.required-box 必須
          %br/
          = f.text_field :city, placeholder:"例）藤沢市江ノ島"
        .field
          = f.label :番地, class:"form-texts"
          %span.required-box 必須
          %br/
          = f.text_field :address, placeholder:"例）２−３−８"
        .field
          = f.label :マンション名やビル名, class:"form-texts"
          %br/
          = f.text_field :apartment, placeholder:"例）フリマハイツ１０１号室"
        .field
          = f.label :電話番号, class:"form-texts"
          %br/
          = f.text_field :tell_number, placeholder:"例）08043215678"
        .actions
          = f.submit "ユーザー登録", class:"reg-submit-btn"
