= render partial: "credits/credit_header"
.users-show
  .users-show__left-wrapper
    .users-show__left-wrapper__contents
      .users-show__left-wrapper__contents__content-title
        = link_to "出品する", new_item_path
    .users-show__left-wrapper__contents
      .users-show__left-wrapper__contents__content-title
        = link_to root_path do
          出品した商品ー出品中
    .users-show__left-wrapper__contents
      .users-show__left-wrapper__contents__content-title
        = link_to root_path do
          出品した商品ー売却済み
    .users-show__left-wrapper__contents
      .users-show__left-wrapper__contents__content-title
        = link_to root_path do
          購入した商品ー過去の取引
    %h1 設定
    .users-show__left-wrapper__contents
      .users-show__left-wrapper__contents__content-title
        = link_to "支払い方法", new_credit_path
      .users-show__left-wrapper__contents__content-title
        = link_to "クレジットカード詳細一覧", credits_path
      .users-show__left-wrapper__contents__content-title
        = link_to "クレジットカード削除", credit_path(@user), method: :delete 
    .users-show__left-wrapper__contents
      .users-show__left-wrapper__contents__content-title
        = link_to "ログアウト", destroy_user_session_path, method: :delete
  .users-show__right-wrapper
    .users-show__right-wrapper__head
      =image_tag asset_path("/images/icon/member_photo_noimage_thumb.png"),height: "80",width: "80"
      .users-show__right-wrapper__head__icon
        = current_user.nickname
        .users-show__right-wrapper__head__products-count
          出品数 0
= render partial: "home/footer"
