%header.header-wrapper
  .header-inner
    .header-inner__main
      %h1.icon
        = link_to "/", class: "icon__link" do
          = image_tag asset_path("/images/logo/logo.png")
      .search-box
        %input.search-box__textarea(type="text" placeholder="キーワードから探す")/
        -# %input.submit(type="button")/
        %button.search-box__submit(type="submit")
          .submit-icon
            = image_tag asset_path("/images/icon/icon-search 1.png")
    .header-inner__nav
      %ul.lists-left
        %li.lists-left__items
          = link_to "カテゴリー", "/", class:"header-link-text"
        %li.lists-left__items
          = link_to "ブランド", "/", class:"header-link-text"
      - if user_signed_in?
        %ul.lists-right
          %li.lists-right__items
            = link_to "マイページ", users_show_path ,class:"header-link-text"
      - else
        %ul.lists-right
          %li.lists-right__items
            = link_to "ログイン", new_user_session_path,class:"header-link-text"
          %li.lists-right__items
            = link_to "新規登録", new_user_registration_path,class:"header-link-text"