.header
  .header__main
    .header__logo 
      = image_tag "/assets/logo/logo.png", class: "header__logo"
    .search__box
      %input.form__search{name: "text; charset=UTF-8", placeholder: "キーワードから探す", type: "content"}/
    .submit__btn
      .searchBox__icon
        = image_tag "/assets/icon/icon-search 1.png", class: "searchBox__icon"
  .header__box
    .header__box--a
      .header__left
        .category__btn
          カテゴリー
        .brand__btn
          ブランド
    .header__box--b
      - if user_signed_in?
        .header__right-a
          = link_to "マイページ", users_show_path ,class:"header-link-text"
      - else
        .header__right-a
          .login__btn
            = link_to "ログイン", new_user_session_path,class:"header-link-text"
        .header__right-b
          .signup__btn
            = link_to "新規登録", new_user_registration_path,class:"header-link-text"
