= form_for @send_address do |f|
  - if @send_address.errors.any?
    #error_explanation
      %h2= "#{pluralize(@send_address.errors.count, "error")} prohibited this send_address from being saved:"
      %ul
        - @send_address.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :send_family_name
    = f.text_field :send_family_name
  .field
    = f.label :send_first_name
    = f.text_field :send_first_name
  .field
    = f.label :send_family_kana
    = f.text_field :send_family_kana
  .field
    = f.label :send_first_kana
    = f.text_field :send_first_kana
  .field
    = f.label :post_number
    = f.text_field :post_number
  .field
    = f.label :prefectures
    = f.text_field :prefectures
  .field
    = f.label :city
    = f.text_field :city
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :apartment
    = f.text_field :apartment
  .field
    = f.label :tell_number
    = f.number_field :tell_number
  .field
    = f.label :sendscol
    = f.text_field :sendscol
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
