%h1 Listing send_addresses

%table
  %thead
    %tr
      %th Send family name
      %th Send first name
      %th Send family kana
      %th Send first kana
      %th Post number
      %th Prefectures
      %th City
      %th Address
      %th Apartment
      %th Tell number
      %th Sendscol
      %th User
      %th
      %th
      %th

  %tbody
    - @send_addresses.each do |send_address|
      %tr
        %td= send_address.send_family_name
        %td= send_address.send_first_name
        %td= send_address.send_family_kana
        %td= send_address.send_first_kana
        %td= send_address.post_number
        %td= send_address.prefectures
        %td= send_address.city
        %td= send_address.address
        %td= send_address.apartment
        %td= send_address.tell_number
        %td= send_address.sendscol
        %td= send_address.user
        %td= link_to 'Show', send_address
        %td= link_to 'Edit', edit_send_address_path(send_address)
        %td= link_to 'Destroy', send_address, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Send address', new_send_address_path
