%p#notice= notice

%p
  %b Send family name:
  = @send_address.send_family_name
%p
  %b Send first name:
  = @send_address.send_first_name
%p
  %b Send family kana:
  = @send_address.send_family_kana
%p
  %b Send first kana:
  = @send_address.send_first_kana
%p
  %b Post number:
  = @send_address.post_number
%p
  %b Prefectures:
  = @send_address.prefectures
%p
  %b City:
  = @send_address.city
%p
  %b Address:
  = @send_address.address
%p
  %b Apartment:
  = @send_address.apartment
%p
  %b Tell number:
  = @send_address.tell_number
%p
  %b Sendscol:
  = @send_address.sendscol
%p
  %b User:
  = @send_address.user

= link_to 'Edit', edit_send_address_path(@send_address)
\|
= link_to 'Back', send_addresses_path
