-# %h1 Listing credits

-# %table
-#   %thead
-#     %tr
-#       %th Card number
-#       %th Expiration year
-#       %th Expiration month
-#       %th Security code
-#       %th User
-#       %th
-#       %th
-#       %th

-#   %tbody
-#     = @credits[:last4]
    




-#     - @credits.each do |credit|
-#       -# - binding.pry
-#       %tr
-#         %td= credit.card_id
-#         %td= credit
-#         %td= credit
-#         %td= credit
-#         %td= credit
-#         %td= link_to 'Show', credit
-#         %td= link_to 'Edit', edit_credit_path(credit)
-#         %td= link_to 'Destroy', credit, method: :delete, data: { confirm: 'Are you sure?' }

-# %br

-# = link_to 'New Credit', new_credit_path

.background
  .my-page
    -# = render "users/side_bar"    
    = render partial: "credit_header"
    .show
      .show__frame
        .show__frame__title
          登録クレジットカード情報
        .credit_card
          .credit_card__frame
            .credit_card_info
              .credit_card_info__brand
                -# = image_tag "images/#{@card_src}"
              .credit_card_info__numbers
                .number
                  = "**** **** **** " + @credits[:last4]
                  = @credits[:brand]
                
                  .expiration_date__title
                    有効期限
                    = @credits[:exp_month]
                    = @credits[:exp_year]
                  .expiration_date__info
                    -# = @exp_month + " / " + @exp_year
            .destroy__function
              .destroy__function__link
                -# = link_to credit_card_path, method: :delete, class: "destroy__function__link__btn" do 
                -#   削除する
  = render partial: "credit_footer"