%h1 Listing credits

%table
  %thead
    %tr
      %th Card number
      %th Expiration year
      %th Expiration month
      %th Security code
      %th User
      %th
      %th
      %th

  %tbody
    = @credits[:last4]
    = @credits[:exp_month]
    = @credits[:exp_year]
    = @credits[:brand]
-#     - @credits.each do |credit|
-#       -# - binding.pry
-#       %tr
-#         %td= credit.card_id
-#         %td= credit
-#         %td= credit
-#         %td= credit
-#         %td= credit
-#         %td= link_to 'Show', credit
-#         %td= link_to 'Edit', edit_credit_path(credit)
-#         %td= link_to 'Destroy', credit, method: :delete, data: { confirm: 'Are you sure?' }

-# %br

= link_to 'New Credit', new_credit_path

