.background
  .my-page
    = render partial: "credit_header"
    .show
      .show__frame
        .show__frame__username
        .show__frame__title
          登録クレジットカード情報一覧
        .credit_card
          .credit_card__frame
            .credit_card_info
              .credit_card_info__brand
              .credit_card_info__numbers
                .number
                  = "**** **** **** " + @customer_card.last4
                  
                  .expiration_date__title
                    有効期限
                  .expiration_date__info
                    = @exp_month + " / " + @exp_year
            .link__function
              .link__function__btn
                = link_to 'マイページへ戻る', users_show_path, class:"goMypage"
      = render partial: "credit_footer"