<div class="reg-wrapper">
  <div class="reg-wrapper__content">
    <div class="reg-wrapper__content__nav">
      <h2 class="reg-wrapper__content__nav-text">ログイン</h2>
    </div>
    <div class="reg-wrapper__content__form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :メールアドレス, class:"form-texts" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス" %>
        </div>

        <div class="field">
          <%= f.label :パスワード, class:"form-texts" %><br />
          <%= f.password_field :password, autocomplete: "current-password", placeholder:"パスワード"  %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class:"reg-submit-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
