= form_with(model: @item, local: true) do |form|
  - if @item.errors.any?
    #error_explanation
      %h2
        = pluralize(@item.errors.count, "error")
        prohibited this item from being saved:
      %ul
        - @item.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :introduce
    = form.text_field :introduce
  .field
    = form.label :status
    = form.number_field :status
  .field
    = form.label :shipping_fee
    = form.number_field :shipping_fee
  .field
    = form.label :shipping_area
    = form.text_field :shipping_area
  .field
    = form.label :date
    = form.date_select :date
  .field
    = form.label :price_introduce
    = form.text_field :price_introduce
  .field
    = form.label :user_id
    = form.text_field :user_id
  .field
    = form.label :category_id
    = form.text_field :category_id
  .field
    = form.label :brand_id
    = form.text_field :brand_id
  .actions
    = form.submit

