.items-wrapper
  = render partial: "item_header"
  .items-main
    .buy-item-section
      .buy-item-section__title
        .inner
          購入内容の確認
      .buy-item-section__item-info
        .info-table
          .image
            = image_tag @item.images[0].image.url, class: "img"
          .details
            .name
              = @item.name
            .price
              .burden-info
                = @item.shipping_fee
              .price-info
                = @item.price_introduce
                円
      .buy-item-section__price-display
        .price-table
          .price-guide
            支払い金額
          .price
            = @item.price_introduce
            円
      .buy-item-section__payment
        .payment-content
          .payment-table
            .payment-guide
              支払い方法
          .payment-info
            - if @card_ex.exists?
              .type
                クレジットカード
              .number
                = "**** **** ****" + @default_card_information.last4
              .expiration-date
                有効期限
                = @default_card_information.exp_month.to_s + " / " + @default_card_information.exp_year.to_s.slice(2,3)
              .card-brand
                = image_tag asset_path("/images/card_logos/jcb.png"), class: "card-brand__logo"
            - else
              支払い方法を登録してください
      .buy-item-section__shipping
        .shipping-inner
          .shipping-inner__upper
            .shipping-guide
              配送先
          .shipping-inner__lower
            .buyer-zip-code
              = "#{@address.post_number}"
            .buyer-address
              = @address.prefectures.name
              = @address.city + @address.address
            .buyer-name
              = @address.send_family_name + @address.send_first_name
      .buy-item-section__contract
        .contract-inner
          .contract-inner__upper
          .contract-inner__lower
            - if @card_ex.exists?
              = link_to item_path(@item), class: "contract-inner__lower__link" do
                購入する
            - else
              = link_to new_card_path do
                %b 商品の購入には購入方法の登録が必要です
  = render partial: "item_footer"