.items-wrapper
  = render partial: "item_header"
  .items-main
    .buy-item-section
      .buy-item-section__title
        .inner
          購入内容の確認
      .buy-item-section__item-info
        .info-table
          .image
            -# =image_tag (@item.images[0].item_image.url), class:"img"
            = image_tag @item.images[0].image.url, class: "img"
          .details
            .name
              = @item.name
            .price
              .burden-info
                = @item.shipping_fee
              .price-info
                = @item.price_introduce
                円
      .buy-item-section__price-display
        .price-table
          .price-guide
            支払い金額
          .price
            = @item.price_introduce
            円
      .buy-item-section__payment
        .payment-content
          .payment-table
            .payment-guide
              支払い方法
            .change-payment
              = link_to "変更する >", "#", class: "change-payment__link"
          .payment-info
            .type
              クレジットカード
            .number
              ************1111
            .expiration-date
              有効期限 01 / 25
          .card-brand
            = image_tag asset_path("/images/card_logos/jcb.png"), class: "card-brand__logo"
      .buy-item-section__shipping
        .shipping-inner
          .shipping-inner__upper
            .shipping-guide
              配送先
            .change-shipping
              = link_to "変更する >", "#", class: "change-shipping__link"
          .shipping-inner__lower
            .buyer-zip-code
              = "#{@address.post_number}"
            .buyer-address
              = @address.prefectures.name
              = @address.city + @address.address
            .buyer-name
              = @address.send_family_name + @address.send_first_name
      .buy-item-section__contract
        .contract-inner
          .contract-inner__upper
            郵便局/コンビニ受取をご希望の方は、購入後に
            %b.contract-bold 取引画面
            から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
          .contract-inner__lower
            = link_to "購入する", "/", class: "contract-inner__lower__link"

  = render partial: "item_footer"