.items-wrapper
  = render partial: "item_header"
  = form_with(model: @item, local: true) do |f|
    .items-main
      .image-wrapper
        .image-wrapper__label
          出品画像
          %span.image-wrapper__label__tag 必須
        .image-wrapper__text
          最大5枚までアップロードできます
        .image-wrapper__image
          .post__drop__box__container
            .prev-content
              - @item.images.each do |i|
                .preview-box
                  .upper-box
                    = image_tag i.image.url, width: "112", height: "112", alt: "preview"
                  .lower-box
                    .update-box
                      %label.edit-bit 編集
                    .delete-box
                      .delete-btn
                        %span 削除
            .label-content
              = f.label :"images_attributes_#{@item.images.length}_image", class:"label-box", id: "label-box--#{@item.images.length}" do
                %pre.label-box__text-visible クリックしてファイルをアップロード
                %i.fas.fa-camera
            .hidden-content
              = f.fields_for :images do |i|
                = i.file_field :image, class: "hidden-field"
                = i.check_box:_destroy, class: "hidden-checkbox"
              - @item.images.length.upto(4) do |i|
                %input{name: "item[images_attributes][#{i}][image]", id: "item_images_attributes_#{i}_image", class: "hidden-field", type: "file"}
                
      .item-wrapper
        .item-name
          .item-name__upper
            商品名
            %span.item-name__upper__tag 必須
          .item-name__lower
            = f.text_field :name, placeholder: "40文字まで", class: "item-name__lower__textarea", id: "name-alert"
          .no-item-name
        .item-explanation
          .item-explanation__upper
            商品の説明
            %span.item-explanation__upper__tag 必須
          .item-explanation__lower
            = f.text_area :introduce, cols: "40", rows: "5", placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。", class: "item-explanation__lower__textarea", id: "introduce-alert"
            .no-item-explanation

      .details-wrapper
        .details-upper
          商品の詳細
        .details-lower
          .category
            カテゴリー
            %span.required 必須
          .category-tab
            = f.select :parent_name, @category_parent_array, {selected:@item.category.parent.parent.name}, { class: 'category-wrapper__category form-control', id: 'parent_category'}
            .no-item-category
            .category-wrapper-select#children_wrapper
              .category-wrapper-select__box
                = f.select :child_id, options_for_select(@category_children_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {prompt: "指定なし", selected: @item.category.parent.id}),{}, {class: 'category-wrapper__category form-control', id: 'child_category'}
            .category-wrapper-select#grandchildren_wrapper
              .category-wrapper-select__box
                = f.select :category_id, options_for_select(@category_grandchildren_array.map{|b| [b.name, b.id, {data:{category: b.id}}]}, {prompt: "指定なし", selected: @item.category.id}),{}, {class: 'category-wrapper__category form-control', id: 'grandchild_category'}
          .brand
            ブランド
            %span.any 任意
          .brand-text
            -# ダミーです
            = f.text_field(:brand_id, {class: "brand-text__area", placeholder: "例）シャネル"})
          .condition
            商品の状態
            %span.required 必須
          .condition-tab
            = f.select :status, Item.statuses.keys, {prompt: "選択してください"}, class: "condition-tab__select", id: "status-alert"
            .no-item-status
      .delivery-wrapper
        .delivery-upper
          配送について
          %span.delivery-upper__question
            = link_to("#", class: "delivery-upper__question__link") do
              %i.far.fa-question-circle
        .delivery-lower
          .burden
            配送料の負担
            %span.required 必須
          .burden-tab
            = f.select :shipping_fee, Item.shipping_fees.keys, {prompt: "選択してください"},class: "burden-tab__select", id: "fee-alert"
            .no-item-fee
          .shipping-region
            発送元の地域
            %span.required 必須
          .shipping-region-tab
            = f.select :shipping_area, Item.shipping_areas.keys, {prompt: "選択してください"}, class: "shipping-region-tab__select", id: "area-alert"
            .no-item-area
          .shipping-days
            発送までの日数
            %span.required 必須
          .shipping-days-tab
            = f.select :shipping_day, Item.shipping_days.keys, {prompt: "選択してください"}, class: "shipping-days-tab__select", id: "day-alert"
            .no-item-day
      .price-wrapper
        .price-upper
          価格（¥300〜9,999,999）
          %span.price-upper__question
            = link_to("#", class: "price-upper__question__link") do
              %i.far.fa-question-circle
        .price-lower
          .price-box
            .price-box__name
              販売価格
              %span.required 必須
            .price-box__price
              .yen-mark
                ¥
              .input
                = f.number_field :price_introduce, placeholder: "0", class: "number-field", id: "price-alert"
                .no-item-price
          .fee-box
            .fee-box__fee
              販売手数料（10%）
            .fee-box__fee-display
              ¥2,000
          .profit-box
            .profit-box__fee
              販売利益
            .profit-box__fee-display
              ¥18,000
      .buttons-wrapper
        .buttons
          .sell-button
            = f.submit "出品する", class: "sell-button__link"
          -# .save-button
          -#   = link_to "下書きに保存", "#", class: "save-button__link"
          .back-button
            = link_to "もどる", "/", class: "back-button__link"
        .caution
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
  = render partial: "item_footer"