<p id="notice"><%= notice %></p>

<p>
  <strong>Send family name:</strong>
  <%= @send_adress.send_family_name %>
</p>

<p>
  <strong>Send first name:</strong>
  <%= @send_adress.send_first_name %>
</p>

<p>
  <strong>Send family kana:</strong>
  <%= @send_adress.send_family_kana %>
</p>

<p>
  <strong>Send first kana:</strong>
  <%= @send_adress.send_first_kana %>
</p>

<p>
  <strong>Post number:</strong>
  <%= @send_adress.post_number %>
</p>

<p>
  <strong>Prefectures:</strong>
  <%= @send_adress.prefectures %>
</p>

<p>
  <strong>City:</strong>
  <%= @send_adress.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @send_adress.address %>
</p>

<p>
  <strong>Apartment:</strong>
  <%= @send_adress.apartment %>
</p>

<p>
  <strong>Tell number:</strong>
  <%= @send_adress.tell_number %>
</p>

<p>
  <strong>Sendscol:</strong>
  <%= @send_adress.sendscol %>
</p>

<p>
  <strong>User:</strong>
  <%= @send_adress.user %>
</p>

<%= link_to 'Edit', edit_send_adress_path(@send_adress) %> |
<%= link_to 'Back', send_adresses_path %>
